.notes-container {
  padding: 32px;
}

.notes-container_notes {
  display: flex;             /* Use flexbox */
  flex-direction: row;       /* Align items in a row */
  overflow-x: auto;          /* Enable horizontal scrolling */
  white-space: nowrap;       /* Prevent wrapping */
  max-height: 70vh;          /* Optional: limit the height of the container */
}

.custom-scroll::-webkit-scrollbar {
  height: 6px;               /* Adjust scrollbar height for horizontal scrolling */
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 3px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}
